:root {
	--color-primary: #2584ff;
	--color-primary-medium: #126de4;
	--color-primary-dark: #1b0760;
	--color-secondary: #00d9ff;
	--color-secondary-medium: #03c2e3;
	--color-accent: #ff3400;
	--color-body: #918ca4;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Typography */

html {
	font-size: 62.5%;
}

body {
	color: var(--color-body);
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-size: 2.4rem;
	line-height: 1.5;
}

h1,
h2,
h3 {
	color: var(--color-primary-dark);
	margin-bottom: 1rem;
}

h1 {
	font-size: 7rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

p {
	margin-top: 0;
}

@media screen and (min-width: 1024px) {
	body {
		font-size: 1.8rem;
	}

	h1 {
		font-size: 8rem;
	}

	h3 {
		font-size: 2.4rem;
	}
}

/* Links */

a {
	text-decoration: none;
}

.arrow-link {
	color: var(--color-accent);
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.arrow-link::after {
	content: "-->";
	margin-left: 5px;
	transition: margin-left 0.15s;
}

.arrow-link:hover::after,
.arrow-link:focus::after {
	margin-left: 10px;
}

@media screen and (min-width: 1024px) {
	.arrow-link {
		font-size: 1.5rem;
	}
}

/* Badge */

body {
	padding: 2rem;
}

.badge {
	border-radius: 20px;
	font-size: 2rem;
	font-weight: 600;
	font-weight: bold;
	padding: 0.8rem 2.2rem;
	white-space: nowrap;
}

.badge--primary,
.badge--secondary,
.badge--secondary-medium {
	color: white;
}

.badge--primary {
	background-color: var(--color-primary-medium);
}

.badge--secondary {
	background-color: var(--color-secondary);
}

.badge--secondary-medium {
	background-color: var(--color-secondary-medium);
	opacity: 0.502;
}

.badge--small {
	border-radius: 16px;
	font-size: 1.6rem;
	padding: 0.6rem 1.3rem;
	text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
	.badge {
		border-radius: 17px;
		font-size: 1.5rem;
		padding: 0.8rem 1.5rem;
	}

	.badge--small {
		border-radius: 15px;
		font-size: 1.2rem;
		padding: 0.8rem 1.2rem;
	}
}

/* Lists */

.list {
	color: var(--color-primary-dark);
	list-style: none;
	padding-left: 0;
}

.list--inline .list__item {
	display: inline-block;
	margin-right: 2rem;
}

.list--tick {
	list-style-image: url(../images/tick.svg);
	padding-left: 3rem;
}

.list--tick .list__item {
	margin-bottom: 1rem;
	padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
	.list--tick .list__item {
		padding-left: 0;
	}
}

/* Icons */

.icon {
	height: 40px;
	width: 40px;
}

.icon--small {
	height: 24px;
	width: 24px;
}

.icon--primary {
	fill: var(--color-primary);
}

.icon--plain {
	fill: white;
}

.icon-container {
	align-items: center;
	background-color: #f3f9fa;
	border-radius: 100%;
	display: inline-flex;
	height: 80px;
	justify-content: center;
	width: 80px;
}

/* Buttons */

.btn {
	align-items: center;
	border-radius: 40px;
	border: 0;
	cursor: pointer;
	display: inline-flex;
	font-size: 1.8rem;
	font-weight: 600;
	gap: 10px;
	justify-content: center;
	padding: 2rem 3rem;
	text-transform: uppercase;
	white-space: nowrap;
}

.btn--primary {
	background-color: var(--color-primary-dark);
	color: white;
}

.btn--primary-outline {
	background-color: white;
	border: 2px solid var(--color-primary-dark);
	color: var(--color-primary-dark);
}

.btn--primary-outline:hover,
.btn--primary-outline:focus {
	background-color: var(--color-primary-dark);
	color: white;
}

.btn--secondary {
	background-color: var(--color-secondary-medium);
	color: white;
}

.btn--secondary:hover,
.btn--secondary:focus {
	background-color: var(--color-secondary);
}

.btn--accent {
	background-color: var(--color-accent);
	color: white;
}

.btn--accent:hover,
.btn--accent:focus {
	background-color: #ff6943;
}

.btn--medium {
	padding: 3rem 9rem;
}

.btn--block {
	width: 100%;
}

@media screen and (min-width: 1024px) {
	.btn {
		font-size: 1.5rem;
	}

	.btn--medium {
		padding: 2.5 6rem;
	}
}
