<section class="block container block-domain">
	<header class="block__header">
		<h2>The best webhosting Starting at $7.99 per month</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ut
			excepturi quaerat voluptates perspiciatis ratione quisquam dolorum
			perferendis qui quas.
		</p>
	</header>
	<div class="input-group block-domain__search">
		<input
			type="text"
			class="input"
			placeholder="Enter domain name here..."
		/><button class="btn btn--accent">
			<svg class="icon icon--small icon--plain">
				<use xlink:href="images/sprite.svg#search"></use>
			</svg>
			<span>Search</span>
		</button>
	</div>
	<ul class="list block-domain__prices">
		<li class="list__item">.com $9.99</li>
		<li class="list__item">
			<span class="badge badge--secondary">.sg $7.99</span>
		</li>
		<li class="list__item">.space $12.99</li>
		<li class="list__item">.info $13.99</li>
		<li class="list__item">.net $15.99</li>
		<li class="list__item">.xyz $9.99</li>
	</ul>
</section>
