<div class="card card--secondary">
	<header class="card__header">Card header</header>
	<div class="card__body">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde quidem
		officia obcaecati architecto, omnis ducimus rem doloribus porro voluptatibus
		est quod quae? Possimus aliquid cum nostrum delectus similique reprehenderit
		accusantium corrupti nobis ipsum iste deserunt, ullam veritatis nihil et
		perferendis vitae, officia sunt aliquam voluptas necessitatibus dolores!
		Quos, quod repellendus?
	</div>
</div>
