<nav class="nav collapsible">
	<div class="nav__container container">
		<a href="/" class="nav__logo"><img src="images/logo.svg" alt="" /></a>
		<svg class="icon icon--plain nav__toggler collapsible__toggler">
			<use xlink:href="images/sprite.svg#menu"></use>
		</svg>
		<ul class="list nav__list collapsible__content">
			<li class="nav__list-item"><a href="#">Hosting</a></li>
			<li class="nav__list-item"><a href="#">VPS</a></li>
			<li class="nav__list-item"><a href="#">Domain</a></li>
			<li class="nav__list-item"><a href="#">Pricing</a></li>
		</ul>
	</div>
</nav>
