<article class="card testimonial">
	<div class="grid grid--1x2">
		<div class="testimonial__image-container">
			<img src="images/testimonial.jpg" alt="A happy, smiling customer" />
			<span class="icon-container icon-container--large icon-container--accent">
				<svg class="icon icon--plain icon--small">
					<use xlink:href="images/sprite.svg#quotes"></use>
				</svg>
			</span>
		</div>
		<blockquote class="quote">
			<p class="quote__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
				maiores quos labore itaque. Neque dignissimos eveniet ipsum, nihil saepe
				doloribus esse laborum, vero incidunt, velit consectetur maiores.
				Praesentium, natus in.
			</p>
			<footer class="quote__footer">
				<article class="media quote__author-container">
					<div class="media__image">
						<svg class="icon icon--primary quote__author-icon">
							<use xlink:href="images/sprite.svg#line"></use>
						</svg>
					</div>
					<div class="media__body">
						<h3 class="media__title quote__author">Jhone Lumeo</h3>
						<span class="quote__author-company">Mosh Company ceo</span>
					</div>
				</article>
			</footer>
		</blockquote>
	</div>
</article>
