<div class="collapsible">
	<header class="collapsible__header">
		<h2 class="collapsible__title collapsible__toggler">products</h2>
		<svg
			class="icon icon--medium icon--plain collapsible__icon collapsible__toggler"
		>
			<use xlink:href="images/sprite.svg#chevron"></use>
		</svg>
	</header>
	<div class="collapsible__content">
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, sint
		pariatur minima sapiente tempora architecto voluptas perferendis a eaque
		molestias?
	</div>
</div>
<div class="collapsible">
	<header class="collapsible__header collapsible__toggler">
		<h2 class="collapsible__title">company</h2>
		<svg class="icon icon--medium icon--plain collapsible__icon">
			<use xlink:href="images/sprite.svg#chevron"></use>
		</svg>
	</header>
	<div class="collapsible__content">
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, sint
		pariatur minima sapiente tempora architecto voluptas perferendis a eaque
		molestias?
	</div>
</div>
